<a href="https://colab.research.google.com/github/AtishaySG25/ALA-AIML/blob/main/movie_review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import time

Here I have imported the required libraries, that is, numpy for vector operations and pandas for importing data

In [6]:
#load the movie_review dataset
df = pd.read_csv('/content/moviereviews.csv')
df.head(5)

,movie,review
0,The Lord of the Rings The Two Towers,remarkable display of fantasy action powerful ...
1,Inception,implanting stealing idea destroy gripping acti...
2,Spiderman Across the spider verse,mind bending wild action sequences intimate em...
3,The Dark Knight,Best live action portrayal beat organized crim...
4,Three colors red,mesmerising friendship turned love profound un...

importing the dataset and displaying the first 5 columns of the dataset

In [7]:
print(df.isna().any())
print(df.isna().sum())

print(df['review'].nunique())

movie     False
review    False
dtype: bool
movie     0
review    0
dtype: int64
13

checks the missing values
prints the number of missing values
prints the number of unique values

In [8]:
df.drop_duplicates()

,movie,review
0,The Lord of the Rings The Two Towers,remarkable display of fantasy action powerful ...
1,Inception,implanting stealing idea destroy gripping acti...
2,Spiderman Across the spider verse,mind bending wild action sequences intimate em...
3,The Dark Knight,Best live action portrayal beat organized crim...
4,Three colors red,mesmerising friendship turned love profound un...
5,It happened one night,Romantic comedy screwball comedy enduring tale...
6,In the Mood for Love,Neighbors solace bonding affair predicament sp...
7,Before Sunrise,blossoming love know each other chance encount...
8,Gone with the wind,epic romance greatest romantic film ever made ...
9,Eternal Sunshine of the Spotless Mind,Length people go finding love of life emotiona...
10,The Shawshank Redemption,movie about friendship life fight to be good p...
11,Raging Bull,brutal boxing sports movie turbulent life outs...
12,Lawrence of Arabia,classic adventure war movie psychological dram...

drops all the duplicate entries in the dataset.

In [9]:
df.shape
#number of rows and columns in the dataset.

(13, 2)

In [10]:
review_vector_movie=np.array([df.movie])
# # print("Moviecolumn: ",review_vector_movie)

review_vector_review=np.array([df.review])
# # print("Review column: ",review_vector_review)


review_vector=np.array([df])
review_vector

array([[['The Lord of the Rings The Two Towers',
         'remarkable display of fantasy action powerful ring hobbit destroy it fight'],
        ['Inception',
         'implanting stealing idea destroy gripping action jaw dropping fight stunning visual violence'],
        ['Spiderman Across the spider verse',
         'mind bending wild action sequences intimate emotional moments amazing action'],
        ['The Dark Knight',
         'Best live action portrayal beat organized crime in Gotham enigmatic villain brutality violence'],
        ['Three colors red',
         'mesmerising friendship turned love profound unconventional bond heartfelt '],
        ['It happened one night',
         'Romantic comedy screwball comedy enduring tale of romance comical true love'],
        ['In the Mood for Love',
         'Neighbors solace bonding affair predicament spell binding infatuation heartwarming'],
        ['Before Sunrise',
         'blossoming love know each other chance encounter meeting someone special fleeting romance magical evening'],
        ['Gone with the wind',
         'epic romance greatest romantic film ever made touching amazing relationship cherished love'],
        ['Eternal Sunshine of the Spotless Mind',
         'Length people go finding love of life emotional rollercoaster in blossoming of love reignited fascinating journey into heart '],
        ['The Shawshank Redemption',
         'movie about friendship life fight to be good person prisoner surviving'],
        ['Raging Bull',
         'brutal boxing sports movie turbulent life outside ring almost tragedy character not likable pitiable brutal'],
        ['Lawrence of Arabia',
         'classic adventure war movie psychological drama british officer fight ottoman success ego dangerous']]],
      dtype=object)

In [14]:
# np.dot(review_vector)

TypeError: ignored

In [18]:
from collections import Counter


# Create vectors for each review
review_vectors = []
for review in df['review']:
    words = review.split()
    vector = Counter(words)  # Count the frequency of each word
    review_vectors.append(vector)

Using the split function we split the reviews into individual words. The counter (vector) function gives the frequency of occurance of each word in a review. This is stored in a dictionary like structure with words and their frequency which is then appended to the review_vectors list.

In [23]:
# Convert the list of review vectors into a numpy array
numpy_review_vectors = np.array([list(vector.values()) for vector in review_vectors])

print(numpy_review_vectors, '\n')
# Print the vectors
for i, movie in enumerate(df['movie']):
    print(f"Movie: {movie}")
    print(f"Vector: {numpy_review_vectors[i]}")
    print()

[list([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])
 list([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])
 list([1, 1, 1, 2, 1, 1, 1, 1, 1])
 list([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])
 list([1, 1, 1, 1, 1, 1, 1, 1]) list([1, 2, 1, 1, 1, 1, 1, 1, 1, 1])
 list([1, 1, 1, 1, 1, 1, 1, 1, 1])
 list([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])
 list([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])
 list([1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])
 list([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])
 list([2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])
 list([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])]

Movie: The Lord of the Rings The Two Towers
Vector: [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

Movie: Inception
Vector: [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

Movie: Spiderman Across the spider verse
Vector: [1, 1, 1, 2, 1, 1, 1, 1, 1]

Movie: The Dark Knight
Vector: [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

Movie: Three colors red
Vector: [1, 1, 1, 1, 1, 1, 1, 1]

Movie: It happened one night
Vector: [1, 2, 1, 1, 1, 1, 1, 1, 1, 1]

Movie: In the Mood for Love
Vector: [1, 1, 1, 1, 1, 1, 1, 1, 1]

Movie: Before Sunrise
Vector: [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

Movie: Gone with the wind
Vector: [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

Movie: Eternal Sunshine of the Spotless Mind
Vector: [1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

Movie: The Shawshank Redemption
Vector: [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

Movie: Raging Bull
Vector: [2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

Movie: Lawrence of Arabia
Vector: [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

<ipython-input-23-b84dae9e0951>:2: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  numpy_review_vectors = np.array([list(vector.values()) for vector in review_vectors])

A 2D numpy array is created. Tne for loop iterates through the indices of the data frame..It then prints the movie title with the corresponding vector

In [15]:
movie_review_vectors = {}

A dictionary of movie review vectors.

In [22]:
for index, row in df.iterrows():
    movie = row['movie']
    review = row['review']

    words = review.split()
    vector = {}
    for word in words:
        vector[word] = vector.get(word, 0) + 1

    movie_review_vectors[movie] = vector

this is an alternate way of iterating through the dataframe to find the frequency of words in a review. Although it has the same approach, I wanted to try it without using the enumerate function.

In [24]:
def dot_product(v1, v2):
    result = 0
    for word in v1:
        if word in v2:
            result += v1[word] * v2[word]
    return result

Here we create two vectors 2 distinct reviews.The for loop iterates through a review and inside the for loop we find if any other review matches the frequency of the former review.
Using the dot product formula - result += v1[word] * v2[word] - we find the common word for both the vectors and also the contribution of this word to the dot product.

In [25]:
similarities = {}
for movie1 in movie_review_vectors:
    for movie2 in movie_review_vectors:
        if movie1 != movie2:
            similarity = dot_product(movie_review_vectors[movie1], movie_review_vectors[movie2])
            similarities[(movie1, movie2)] = similarity

Calculate the dot product of 2 distinct movie reviews - movie 1 and movie 2. The similarities dictionary stores the similarity in using a tuple which contains the pair of movies.

In [26]:
top_similar_pairs = sorted(similarities.items(), key=lambda x: x[1], reverse=True)[:3]
top_similar_pairs

[(('It happened one night', 'Eternal Sunshine of the Spotless Mind'), 4),
 (('Eternal Sunshine of the Spotless Mind', 'It happened one night'), 4),
 (('The Lord of the Rings The Two Towers', 'Inception'), 3)]

The lambda function gives the similarity value. Then we sort the similarities with
the help of the value  using the sorting function in the descending order.

In [27]:
def numpy_dot_product(v1, v2):
    keys = set(v1.keys()) & set(v2.keys())
    np_dot_prod = np.dot([v1[key] for key in keys], [v2[key] for key in keys])
    return np_dot_prod

Finding the dot product using the np.dot numpy function.

v1 and v2 represent two vectors whose dot product we will be calculating. The 'np.dot' calculates the dot product of the two list in the 'key' variable

In [28]:
n_iterations = 10000

In [30]:
start_time = time.time()
for _ in range(n_iterations):
    for movie1 in movie_review_vectors:
        for movie2 in movie_review_vectors:
            if movie1 != movie2:
                dot_product(movie_review_vectors[movie1], movie_review_vectors[movie2])
end_time = time.time()
hand_coded_time = end_time - start_time

hand_coded_time

1.6286170482635498

Finding the hand coded time i.e., using the dot product formula.

In [32]:
start_time = time.time()
for _ in range(n_iterations):
    for movie1 in movie_review_vectors:
        for movie2 in movie_review_vectors:
            if movie1 != movie2:
                numpy_dot_product(movie_review_vectors[movie1], movie_review_vectors[movie2])
end_time = time.time()
numpy_time = end_time - start_time

numpy_time

8.56578278541565

In [39]:
print(f"Hand-coded Dot Product Time: {hand_coded_time:.2f} seconds")
print(f"Numpy Dot Product Time: {numpy_time:.2f} seconds")
print(f"Speedup: {hand_coded_time / numpy_time: .2f}x")

Hand-coded Dot Product Time: 1.63 seconds
Numpy Dot Product Time: 8.57 seconds
Speedup:  0.19x

This doesn't seem right. The numpy function should have been faster than the hand coded dot product function.